@font-face {
    font-family: Rosemary Roman;
    src: url(../assets/fonts/Rosemary\ Roman.ttf) format('truetype');
}

* {
    box-sizing: border-box;
}

body, html {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}

body {
    --header-height: 80px;
    --shadow: 5px 5px 25px rgb(23, 204, 23);
    --gutter: 30px;
    --footer-height: 25px;
    
    background-color: black;
    color: whitesmoke;
    font-family: Rosemary Roman;
}
header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

header > h1 {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
    font-size: 3rem;
    color: lawngreen;
    text-shadow: 4px 4px 5px darkolivegreen;
}

header .user-profile {
    display: inline-flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    font-size: 1.3rem;
    line-height: 0.5;
    color: whitesmoke;
    margin: 5px 5px 0 0;
    padding: 5px;
    border: 1px solid whitesmoke;
    border-radius: 5px;
}

img#avatar {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    margin-right: 5px;
}

main {
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

section.log {
    position: relative;
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: var(--shadow);
    border-radius: 20px;
}

section.log > h1 {
    position: absolute;
    top: 5%;
    background-color: rgba(10, 10, 10, 0.5);
    padding: 5px;
    border-radius: 10px;
}

section.log > p {
    position: absolute;
    top: 10%;
    width: 50%;
    background-color: rgba(10, 10, 10, 0.5);
    padding: 20px;
    text-align: center;
    font-size: 1.3rem;
    font-family: cursive;
    border: 1px dotted white;
    border-radius: 10px;
}

section > img {
    width: 100%;
    border-radius: 10px;
}

a#dark-forest {
    position: absolute;
    top: 5%;
    right: 10%;
    background-color: darkolivegreen;
    border-radius: 10px;
    font-size: 1.8rem;
    color: whitesmoke;
    text-decoration: none;
    padding: 5px;
}

a#head-east {
    position: absolute;
    top: 40%;
    right: 10%;
    background-color: darkolivegreen;
    border-radius: 10px;
    font-size: 1.8rem;
    color: whitesmoke;
    text-decoration: none;
    padding: 5px;
}
a#head-west {
    position: absolute;
    top: 60%;
    left: 10%;
    background-color: darkolivegreen;
    border-radius: 10px;
    font-size: 1.8rem;
    color: whitesmoke;
    text-decoration: none;
    padding: 5px;
}
a#head-south {
    position: absolute;
    bottom: 20%;
    right: 30%;
    background-color: darkolivegreen;
    border-radius: 10px;
    font-size: 1.8rem;
    color: whitesmoke;
    text-decoration: none;
    padding: 5px;
}

footer {
    width: 100%;
    bottom: 0;
    height: var(--footer-height);
    display: flex;
    justify-content: flex-end;
}

  @keyframes pulse {
    20% {
      transform: rotate3d(-10, -10, -10, 50deg) scale(1.2);
    }

    40% {
        transform: rotate3d(10, 10, -10, 50deg) scale(1);
    }

    60% {
        transform: rotate3d(-10, 10, 10, 50deg) scale(1.2);
      }

    80% {
        transform: rotate3d(10, 10, 10, 50deg) scale(1);
    }

  }